@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    @apply text-white text-lg font-bold
}

h2{
    @apply text-green-400 text-xl font-medium
}

.box {
    border: 5px solid rgb(233, 233, 243);
    width: 50%;
  }

  .bg-blue{
    background-color: rgb(0,229,255);
  }

  .w-50 {
    width: 50px;
 }
